/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain) */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Mobile First */
html {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #000000;
}

body {
  width: 375px;
  margin: 0 auto;
}

#top {
  width: 375px;
  text-align: center;
}

h1 {
  max-width: 100%;
  font-size: 3em;
  color: #007d7b;
  padding-top: 10px;
  padding-bottom: 10px;
}

nav {
  display: flex;
  justify-content: center; 
  align-items: center; 
  width: 100%;
  background-color: #000000;
  padding-top: 35px;
  padding-bottom: 35px;
}

nav ul {
  text-align: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  text-decoration: none;
  color: #ffffff;
}

nav a {
  font-size: 1.5em;
  padding: 5px;
}

h2 {
  font-size: 2em;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 30px;
}

p {
  font-size: 1.0em;
  padding-bottom: 10px;
}

#about {
  padding-left: 20px;
  padding-right: 20px;
}

#figures {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

#figures figure {
  margin: 10px;
}

  
section {
background-color: #ffffff;
}

figcaption,
label,
input,
small {
font-size: 1em;
}

img {
width: 100%;
}

figcaption {
text-align: center;
}

#contact {
background-color: #000000;
color: #ffffff;
}

form label {
display: block;
padding-left: 10px;
text-align: left;
}

form input[type="text"],
form input[type="email"],
form textarea {
padding: 5px;
margin-bottom: 10px;
}

section#contact {
text-align: center;
}

section#contact .form-container {
display: flex;
justify-content: center;
align-items: center;
}

section#contact form {
width: 100%;
max-width: 400px; /* Adjust the maximum width as needed */
}

section#contact form label,
section#contact form input,
section#contact form textarea,
section#contact form button {
width: 100%;
}

/* Styles for screens larger than 485px */
@media (min-width: 485px) {
    body {
        font-size: 16px;
        width: 880px;
        margin: 0 auto;
        background-color: #000000;
    }

    .container {
        max-width: 480px;
        margin: 0 auto;
    }

    .section {
        padding: 20px;
    }

    #figures {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
    }

    #figures figure {
        width: calc(50% - 20px); /* Subtract the margin value from the desired width */
        margin: 10px;
    }
}
    

@media (min-width: 880px) {
body {
    font-size: 16px;
    width: 1300px;
    margin: 0 auto;
    background-color: #000000;
}

.container {
    max-width: 480px;
    margin: 0 auto;
}

.section {
    padding: 20px;
}

.section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.section img {
    flex-basis: 50%;
    max-width: 100%;
}

#figures {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    }

    #figures figure {
    width: calc(33.33% - 20px); /* Subtract the margin value from the desired width */
    margin: 10px;
    }
}

figcaption,
label,
input,
small {
  font-size: 1em;
}

img {
  width: 100%;
}

figcaption {
  text-align: center;
}

#contact {
  background-color: #000000;
  color: #ffffff;
}

form label {
  display: block;
  padding-left: 10px;
  text-align: left;
}

form input[type="text"],
form input[type="email"],
form textarea {
  padding: 5px;
  margin-bottom: 10px;
}

section#contact {
  text-align: center;
}

section#contact .form-container {
  display: grid;
  justify-content: center;
  align-items: center;
}

section#contact form {
  width: 100%;
  max-width: 400px; /* Adjust the maximum width as needed */
  display: grid;
  gap: 10px;
}

section#contact form label,
section#contact form input,
section#contact form textarea,
section#contact form button {
  width: 100%;
}
